*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
:root{
    --amazon: linear-gradient(90deg, #FF9900 0%, #FF7A00 50%, #FF5500 100%);
    --apple: linear-gradient(180deg, #f5f5f7 0%, #e8e8ed 50%, #d2d2d7 100%);
    --apple_music: linear-gradient(135deg, #FB5C74 0%, #D66AF3 50%, #5C7CFA 100%);
    --github: linear-gradient(180deg, #24292e 0%, #525a64 100%);
    --linkedin: linear-gradient(135deg, #0A66C2 0%, #3192d3 100%);
    --shadow: 5px 5px 10px rgba(0, 0, 0, 0.170);
}
body{
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
#container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    width: 500px;
    height: 90px;
    border-radius: 10px;
}
.box{
    width: 50px; /*180*/
    height: 40px;
    gap: .1px;
    display: flex;
    cursor: pointer;
    border-radius: 10px;
    padding: 10px;
    transition: .3s linear;
    align-items: center;
    justify-content: center;
    box-shadow: var(--shadow);
}
.box:hover{
    width: 180px;
}
.icon{
    text-align: center;
    padding: 10px;
    transition: .2s;
}
.icon svg{
    height: 30px;
    width: 30px;
}
.txt{
    transform: scale(0);
    color: white;
    font-size: 20px;
    font-weight: bolder;
    position: absolute;
    transition: .2s;
}
.box:hover .txt{
    transform: scale(1);
}
.box:hover .icon{
    transform: scale(0);
}
#container div:nth-child(1):hover{
    background-image: var(--amazon);
}
#container div:nth-child(2):hover{
    background-image: var(--apple);
}
#container div:nth-child(3):hover{
    color: rgb(235, 235, 235);
    background-image: var(--apple_music);
}
#container div:nth-child(4):hover{
    color: white;
    background-image: var(--github);
}
#container div:nth-child(5):hover{
    background-image: var(--linkedin);
}